#webtoon {
  width: 100%;
}

.bg {
  background-position: center center;
  background-size: 100%;
}

#home {
  background-image: url(/contents/home.png);
}

#about {
  background-image: url(/contents/about.png);
}